{% extends "imagecolors/base.html" %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Current Image </h2>
        <img src="{% url 'image' imageFileName %}" class="img-fluid" style="max-height: 500px">
    </div>
    
    <div class="col-md-6">
        <h2>Most frequently occurring colors</h2>
        <table class="table table-bordered">
            <thead>
                <th>Rank</th>
                <th>Color</th>
                <th>Count</th>
                <th>RGB</th>
            </thead>
            <tbody>
            {% for row in distribution_df %}
                <tr>
                    <td>{{ forloop.counter |add:first_row }}</td>
                    <td style="background-color: rgb({{row.R}},{{row.G}}, {{row.B}})"></td>
                    <td style="text-align: right;">{{row.Count|intcomma}}</td>
                    <td>{{row.R}},{{row.G}},{{row.B}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <ul class="pagination">
            <li class="{{previous_page_classes}}">
                <a class="page-link" href="{% url 'imagedisplay' imageFileName %}?page={{page|add:"-1"}}">Previous</a>
            </li>
            <li class="{{next_page_classes}}">
                <a class="page-link" href="{% url 'imagedisplay' imageFileName %}?page={{page|add:"1"}}">Next</a>
            </li>
        </ul>

        <!-- <h2>Color profile</h2>
        <img src="{% url 'imagesvg' imageFileName %}"> -->
    </div>

    <div class="row mt-3">
        <div class="col">
            <h2>Image Details</h2>
            <table class="table table-striped table-bordered mt-1">
                <thead>
                    <tr>
                        <th>Format</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Total Pixels</th>
                        <th>Unique Colors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{imageFormat}}</td>
                        <td>{{imageWidth|intcomma}}</td>
                        <td>{{imageHeight|intcomma}}</td>
                        <td>{{pixels|intcomma}}</td>
                        <td>{{uniqueColors|intcomma}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <h2>Color profile</h2>
            <img src="{% url 'imagesvg' imageFileName %}">
        </div>
    </div>

    <div>
        <a class="btn btn-primary" href="{% url 'index' %}">Choose new image</a>
    </div>
</div>
{% endblock %}