{% extends "imagecolors/base.html" %}

{% block content %}
<!-- <h2>Choose an image to analyze</h2> -->
<form class="row" method="post" enctype="multipart/form-data" action="upload">
    {% csrf_token %}
    <div class="col-6">
        <!-- <label for="fileName" class="form-label col-3">Image file</label> -->
        <input type="file" class="form-control id="fileName" name="imageFile">
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <input type="submit" value="Upload image" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}