{% extends "root.html" %}

{% block tabtitle %} CSCI 112 Secret Messages | {{ title }}{% endblock %}

{% block documentContent %}
        <h1>Secret Messages - {{ title }}</h1>

        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
{% endblock %}
