{% extends "../steganography/base.html" %}

{% block content %}

<form class="row" method="post" enctype="multipart/form-data" action="{{action}}">
    {% csrf_token %}
    <div class="col-6">
        <!-- <label for="fileName" class="form-label col-3">Image file</label> -->
        <input type="file" class="form-control" id="fileName" name="imageFile">
    </div>

    {% if action == "encode" %}
    <div class="col-12 mt-3">
        <textarea rows="5" class="form-control" id="message" name="message" placeholder="Enter secret message"></textarea>
    </div>
    {% endif  %}

    <div class="row mt-3">
        <div class="col-3">
            <input type="submit" value="Do the magic!" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}