{% extends "../imagecolors/base.html" %}

{% block content %}
<h2>The magic has worked!</h2>
<p>The message is <strong>{{message}}</strong></p>

<h3>Values used to encode length</h3>
<div class="d-flex">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First octet</th>
            </tr>
        </thead>

        <tbody>
            {% for byte in firstOctet %}
            <tr>
                <td>{{byte}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Second octet</th>
            </tr>
        </thead>

        <tbody>
            {% for byte in secondOctet %}
            <tr>
                <td>{{byte}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Third octet</th>
            </tr>
        </thead>

        <tbody>
            {% for byte in thirdOctet %}
            <tr>
                <td>{{byte}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fourth octet</th>
            </tr>
        </thead>
        <tbody>
            {% for byte in fourthOctet %}
            <tr>
                <td>{{byte}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="d-flex">
    {% for messageByte in messageBytes %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Octet {{forloop.counter}}
                </th>
            </tr>
        </thead>

        <tbody>
            {% for byte in messageByte %}
            <tr>
                <td>
                    {{byte}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}